
.titulo {
  max-width: 1000px;
  font-size: 48px;
  background: var(---titulo-section);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  font-weight: 500;
}