
.titulo {
  max-width: 500px;
  font-size: 36px;
  font-weight: 500;
  line-height: 125%;
  display: flex;
  justify-content: center;
  background: var(---titulo-primario);
  background-size: 400% 100% ;
  animation: degrade  10s linear infinite alternate ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@keyframes degrade {
  0% {
    background-position-x: 0% ;
  }
  100% {
    background-position: 400% ;
  }
}

@media screen and (max-width: 1200px) {
  .titulo{
    max-width: 500px;
    font-size: 36px;
  }
  
}

@media screen and (max-width: 800px) {
  .titulo{
    max-width: 100%;
    line-height: 125%;
  }
}