.apresentacao {
 display: flex;
 flex-direction: column;
  width: 1440px;
  min-height: 80vh;
}

.apresentacao .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.apresentacao span {
  max-width: 680px;
  color: var(---cor-texto);
  font-size: 48px;
  font-weight: bold;
}

.apresentacao span strong {
  background: var(---titulo-primario);
  background-size: 400% 100% ;
  animation: degrade  10s linear infinite alternate ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arte{
  width: 50%;
  border-radius: 8px; 
}

@keyframes degrade {
  0% {
    background-position-x: 0% ;
  }
  100% {
    background-position: 400% ;
  }
  }
  

@media screen and (max-width: 1440px) {
  .apresentacao{
    width: 90%;
    min-height: 85vh;
    flex-wrap: wrap;
    margin: 0 5%;
    display: flex;
  }

  .apresentacao span{
    padding: 100px 0;
    max-width: 
    50%;
  }

  .arte{
    width: 40%;
    border-radius: 8px; 
  }
}

  @media  screen and (max-width: 1200px) {
    .apresentacao{
      justify-content: center;
    }

    .arte{
      display: none;
    }
  }

  @media screen and (max-width: 800px) {
    .apresentacao{
      display: flex;
      flex-direction: column;
    }

    .apresentacao span{
      max-width: 100%;
      padding:  0;
      font-size: 32px;
      text-align: center;
    }
    
  }

