.apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1440px;
  min-height: 850px;
}

.apresentacao span {
  padding: 200px 0;
  max-width: 680px;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
}

.apresentacao span strong {
  color: #A400CD;
}

.animacao{
  width: 500px;
  background-image: url("../../../../public/animacao.json" );
}