.card{
  width: 80%;
  display: flex;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  opacity: 100%;

}

.conteudo {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  justify-content: space-between;
  gap: 16px;
}

.card .conteudo .nome {
  color: var(---cor-titulo);
  font-size: 24px;
  font-weight: bold;
}

.card .conteudo .descricao {
  max-height: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.tecnologias{
  display: flex;
  gap: 8px;
}

.tecnologias li{
  color: var(---tecnologia-texto-cor);
  font-weight: 500;
  font-size: 14px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(---tecnologia-texto-fundo);
}

.buttons__container{
  display: flex;
  gap: 16px;
  padding: 16px 0;
  
}

.buttons__container .card__button{
  width:150px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons__container .card__button:nth-child(1) {
  background-color: rgb(16, 16, 16);
  color: var(--cor-texto);
}

.buttons__container .card__button:nth-child(1):hover {
  background-color: rgba(61, 61, 61, 0.556);
}

.buttons__container .card__button:nth-child(2){
  background-color: rgba(38, 38, 38, 0.500);
  color: var(--cor-titulo);
}

.buttons__container .card__button:nth-child(2):hover {
  background-color: rgba(61, 61, 61, 0.556);
}


@media screen and (max-width: 800px) {
  .card{
    width: 100%;
    flex-direction: column;
    gap: 16px;
   
  }

  .card img{
    height: 200px;
  }

  .conteudo{
    padding: 0;
    gap: 16px;
  }


  
  .buttons__container{
    justify-content: center;
  }
}