

.container{
  width: calc(1440px - 64px);
  background-color: var(---fundo-secundario); 
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  gap: 32px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.container .conteudo{
  width: calc(100% - 400px - 64px);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 64px;
}

.container .textos {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.container .textos h1{
  font-size: 24px;
  font-weight: bold;
  color: var(--cor-texto);
}

.container .textos h2{
  font-size: 16px;
  font-weight: 500;
  color: var(--cor-segundario);
}

.container .textos p{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.container .textos p strong{
  font-weight: bold;
}

.titulo__container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.descricao__container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contatos{
  display: flex;
  gap: 16px;
}

.container .perfil {
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}

@media screen  and (max-width: 1440px) {


  .container{
    width: calc(90% - 64px);
    padding: 32px;
  }

  .container .conteudo{
    width: 50%;
    gap: 0;
  }

  .container .perfil {
    width: 45%;
  }
  
}

@media screen and (max-width: 800px) {

  .container{
    width: 100%;
    background-color: transparent;
    gap: 32px;
    box-shadow: none;
  }

  .container .conteudo{
    width: 100%;
    gap: 0;
    height: auto;
    align-items: center;
    
  }

  .contatos{
    margin: 32px 0;
  }

  .container .textos p{
  font-weight: 400;
  line-height: 150%;
}

 .container .perfil {
    width: 100%;
  }
}