.container{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(---fundo-primario);
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
}

.container img {
  width: 30px;
  height: 30px;
}

.container:hover {
  background-color: var(---fundo-primario-hover);
}

.container:hover img {
  transform: scale(1.05);
}