.tecnologias{
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media screen and (max-width: 1440px) {
  .tecnologias{
    min-width: 90%;
    min-height: auto;
  }
  
}

@media screen and (max-width: 800px) {
  .tecnologias{
    min-width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
  }
  
}
