.tecnologias{
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.titulo {
  font-size: 48px;
  background: var(---titulo-section);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  line-height: 150%;
}
