
.container{
  font-family: 'Raleway', sans-serif;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px ;
  font-weight: bold;
  cursor: pointer;
}

.links__container{
  display: flex;
  gap: 32px;
}
.links__container__mobile{
  display: none;
}

.nav__item{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
}

.nav__item:hover{
    color: #e8e5e5;
}

.nav__item:active{
  transform: scale(0.98);
}

@media screen and (max-width: 1440px) {
  .container{
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .container{
    width: 90%;
    display: flex;
    padding: 16px;
  }
  
  .links__container {
    display: none;
  }

  .links__container__mobile{
    display: flex;
  } 

  .nav__item{
    background-color: #212121;
    padding:8px;
    border-radius: 8px;
    cursor: pointer;
  }

  .nav__item:active{
    transform: scale(0.98);
  }

}