.container {
  display: flex;
  gap: 64px;
  flex-direction: column;
  align-items: center;
}

.projetos {
  width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.buttonTodosProjetos{
  padding: 32px;
  font-size: 24px;
  text-decoration: none;
  color: var(---texto-secundario);
  border-radius: 8px;
  background-color: var(---fundo-secundario);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  align-self: center;
}

.buttonTodosProjetos:hover {
  color: black;
}

.buttonTodosProjetos:active {
  transform: scale(0.98);
}

@media screen and (max-width: 1440px) {
  .projetos{
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .projetos{
    width: 90%;
  }
  
}